<?xml version="1.0" encoding="ISO-8859-1"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="mxshopsett">
        	<SUBMENU id="mxpaymeth" cl="admin_payment" list="payment_list">
        		<TAB id="tbcl_paypalpluscw_payment_settings" cl="paypalpluscw_payment_settings" />
        	</SUBMENU>
        </MAINMENU>
        
         <MAINMENU id="mxorders">
            <SUBMENU id="mxdisplayorders" cl="admin_order" list="order_list">
                <TAB id="tbcl_paypalpluscw_order_transactions" cl="paypalpluscw_order_transactions" />
            </SUBMENU>
            
            <SUBMENU id="mxpaypalpluscw_transactions" cl="paypalpluscw_transaction_admin"  list="paypalpluscw_transaction_list">
            	<TAB id="tbcl_paypalpluscw_transaction_view" cl="paypalpluscw_transaction_view" />
            </SUBMENU>
        </MAINMENU>
        
        <MAINMENU id="mxextensions">
            <SUBMENU id="mxpaypalpluscw_backendform" cl="paypalpluscw_backendform" />
        </MAINMENU>
    </OXMENU>
</OX>